@import 'tailwindcss';
@import '@fortawesome/fontawesome-free/css/all.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-primary: #0c1c20;
    --color-secondary: #09161a;
    --color-link-hover: #00ced1;
    --color-button-hover: #e24f35;
    --color-button: #ff6347;
}

body {
    background-color: var(--color-primary);
    color: white;
}

a:hover {
    color: var(--color-link-hover);
}