@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

:root {
    --primary-color: #0c1c20;
    --secondary-color: #09161a;
    --link-hover-color: #00ced1;
    --button-hover-color: #e24f35;
    --button-color: #ff6347;
}

body {
    background-color: var(--primary-color);
}

a:hover {
    color: var(--link-hover-color);
}